.navbar {
    margin: auto 75px;
}
.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-style: italic;

    font-size: 20px;
    font-weight: bold;
    color: $primary-color!important;

}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: black;

}

.nav-tabs .nav-link {
    color: $primary-color;
}

.nav-tabs .active{
    color: $dark-gray!important;
}

.btn-outline-success {
    background-color: $primary-color!important;
    color: white;
    border: none;
}

.navbar-collapse {
    justify-content: space-between;
}