$primary-font: "Playfair Display", sans-serif;
$secondary-font: "Lato", sans-serif;

$primary-color: #E92569;
$secondary-color: #767676;


$navbar-bg: #EFEFEF;
$white-color: #FFFFFF;
$black-color: #000000;
$red-color: #ec4755;
$green-color: #00b894;

$nav-tabs-border-color: $secondary-color;
$nav-tabs-link-active-color: $secondary-color;
$nav-tabs-link-active-bg: $navbar-bg;
$nav-tabs-link-active-border-color: $nav-tabs-link-active-bg;

$nav-link-font-size: 19px;
$nav-link-color: #E92569!important;
$nav-link-hover-color: $secondary-color;